<!DOCTYPE html>
<html>
<%- include('head', {title: 'Witter' }) %>
<body>
    <% if (typeof user !=='undefined'){%>
        <%- include('navbar-loggedin') %>
    <%} else {%>
        <%- include('navbar-simple') %>
    <%}%>
    <div class="columns my-5 mx-auto mt-0" style="max-width: 800px;">
        <div class="column">
            <% for (let i = 0; i < posts.length;i++){ %>
                <%- include('card',{showUser: true,post: posts[i]}) %>
            <% } %>
        </div>
    </div>
</body>

</html>