<nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a class="navbar-item has-text-weight-bold" href="/">
            <span class="material-symbols-outlined">
                attribution
            </span>&nbsp;Witter
        </a>
        <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
    </div>
    <div id="navbarBasicExample" class="navbar-menu">
        <div class="navbar-end">
            <div class="navbar-item">
                <div class="buttons">
                    <a class="button is-link" href="/register">
                        <strong>Sign up</strong>
                    </a>
                    <a class="button is-link is-light" href="/login">
                        Sign in
                    </a>
                </div>
            </div>
        </div>
    </div>
</nav>