<nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a class="navbar-item has-text-weight-bold" href="/">
            <span class="material-symbols-outlined">
                attribution
            </span>&nbsp;Witter
        </a>
        <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false"
            data-target="navbarBasicExample">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
    </div>
    <div id="navbarBasicExample" class="navbar-menu">
        <div class="navbar-start">
            <a class="navbar-item" href="/post/new/" target="_blank">
                <span class="material-symbols-outlined">
                    add
                </span> New post
            </a>
        </div>
        <div class="navbar-end">
            <div class="navbar-item">
                <div class="buttons">
                    <a class="button is-primary" href="/profile">
                        <strong>Profile</strong>
                    </a>
                    <a class="button is-light" href="/logout">
                        Log out
                    </a>
                </div>
            </div>
        </div>
    </div>
</nav>