<!DOCTYPE html>
<html>
<%- include('head', {title: 'Sign up' }) %>

    <body>
        <%- include('navbar-simple') %>
            <form action="/register" method="post">
                <div class="columns my-5 mx-auto mt-0" style="max-width: 800px;">
                    <div class="column has-text-centered">
                        <p class="title is-2 is-spaced">Sign up for Witter</p>
                        <div class="field">
                            <label class="label">Username</label>
                            <div class="control has-icons-left has-icons-right">
                                <input class="input" type="text" id="username" name="username" placeholder="Text input"
                                    required>
                                <span class="icon is-small is-left">
                                    <span class="material-symbols-outlined">
                                        person
                                    </span>
                                </span>
                                <span class="icon is-small is-right">
                                    <i class="fas fa-check"></i>
                                </span>
                            </div>
                        </div>
                        <div class="field">
                            <label class="label">E-mail</label>
                            <p class="control has-icons-left has-icons-right">
                                <input class="input" type="email" id="email" name="email" placeholder="Email" required>
                                <span class="icon is-small is-left">
                                    <span class="material-symbols-outlined">
                                        mail
                                    </span>
                                </span>
                                <span class="icon is-small is-right">
                                    <i class="fas fa-check"></i>
                                </span>
                            </p>
                        </div>
                        <div class="field">
                            <label class="label">Password</label>
                            <p class="control has-icons-left">
                                <input class="input" type="password" name="pwd" id="pwd" placeholder="Password"
                                    required>
                                <span class="icon is-small is-left">
                                    <span class="material-symbols-outlined">
                                        lock
                                    </span>
                                </span>
                            </p>
                        </div>
                        <div class="field">
                            <label class="label">Confirm Password</label>
                            <p class="control has-icons-left">
                                <input class="input" type="password" name="pwd2" id="pwd2" placeholder="Password"
                                    required>
                                <span class="icon is-small is-left">
                                    <span class="material-symbols-outlined">
                                        lock
                                    </span>
                                </span>
                            </p>
                            <% if (typeof errors !=='undefined' && errors.includes('Passwords do not match')) { %>
                                <p class="help is-danger">
                                    Passwords do not match
                                </p>
                            <% } %>
                        </div>
                        <div class="field mt-4">
                            <div class="control">
                                <label class="checkbox">
                                    <input type="checkbox" name="pp" id="pp" required>
                                    I agree to the <a href="#">terms and conditions</a>
                                </label>
                            </div>
                        </div>
                        <div class="field is-grouped mx-auto my-5">
                            <div class="control mx-auto" style="width: 200px;">
                                <input type="submit" class="button is-link is-fullwidth" value="Make account" />
                            </div>
                        </div>
                        <div class="field is-grouped mx-auto my-5">
                            <div class="control mx-auto" style="width: 200px;">
                                <a href="/login" class="button is-link is-light is-fullwidth">Already
                                    have an
                                    account?</a>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
    </body>

</html>